<!doctype html>
<html lang="{{ it.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ it.title || metas.title }} - {{ metas.site }}</title>
    <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <script src="/js/main.js" type="module"></script>
    {{ it.extra_head?.join("\n") }}
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        const prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
        if (prefersDark) {
          document.documentElement.setAttribute("data-bs-theme", "dark");
        }
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg mb-4">
      <div class="container">
        <a class="navbar-brand fw-bold" href="/">{{ metas.site }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            {{- for entry of search.pages("menu.visible=true", "menu.order") }}
              <li class="nav-item">
                <a class="nav-link{{ if entry.url == url }} active{{ /if }}" href="{{ entry.url }}">
                  {{ entry.menu.title || entry.title }}
                </a>
              </li>
            {{ /for }}
            {{- for link of it.menu_links }}
              <li class="nav-item">
                <a class="nav-link" href="{{ link.href }}"{{ if link.target }} target="{{link.target}}"{{ /if }}>
                  {{ link.text }}
                </a>
              </li>
            {{ /for }}
          </ul>
        </div>
      </div>
    </nav>
</div>
 <div class="container">
    <main class="{{ it.bodyClass }}">
      {{ content }}
    </main>

    <!-- Current page: {{ url }} -->

   </div>
   </div>
   </div>
  



  
<footer class="text-center mt-5">
  
    <section class="mb-2">
    <!-- GitHub -->
      <a class="btn btn-dark btn-floating m-1"
         style="background-color: #333333; border: none;"
         href="https://github.com/word2web"
         role="button"
         target="_blank"
         rel="noopener">
        <i class="bi bi-github"></i>
      </a>
      <!-- LinkedIn -->
      <a class="btn btn-primary btn-floating m-1"
         style="background-color: #0082ca; border: none;"
         href="https://www.linkedin.com/in/gktwaddle/"
         role="button"
         target="_blank"
         rel="noopener">
        <i class="bi bi-linkedin"></i>
      </a>
    </section>
  </div>
  <div class="text-center p-3">
    © 2025 Copyright: Graham Twaddle
  
</footer>
<script defer src="https://va.vercel-scripts.com/v1/script.js" data-sdks="vercel-web-analytics"></script>
</body>
</html>
